/* index 
0 - basic style instruction
1 - open
*/

/* 0 - basic style instruction */
html,
body,
#main_root,
#root{
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    color: #333;
    font-family: "Playfair Display", serif;
}
.article_title{
    font-size: 1.6em;
    font-weight: 900;
    text-transform: uppercase;
}
.par{
    font-size: 1em;
    line-height: 22px;
}
/* 1 - open */
/* div#measure {
    display: none;
} */
div#nav {
    position: absolute;
    z-index: 999;
    background: #333;
    width: 100%;
    padding: 5px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: left;
}
#nav a {
    color: #f6f6f6;
    text-decoration: none;
    margin-right: 40px;
    width: 100%;
}
#nav a p {
    margin: 0;
    margin-right: 30px;
}
#open{
    height: 100%;
    background-image: url("../img/homeback.jpg");
    background-repeat: no-repeat;
    background-size:cover; 
    background-position: center top;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 10;
    position: relative;
}
div#open_content {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 100px;
}
h1#main_title {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    width: 70%;
    padding: 20px;
    margin: auto;
    background: rgb(246, 246, 246,0.5);
    font-size: 3em;
    text-transform: uppercase;
}
#open_content .subtitle{
    font-family: "Playfair Display", sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    color: #f3f3f3;
} 
img#logo{
    width: 15%;
}
#start_block {
    position: absolute;
    bottom: 0;
    width: 90px;
    height: 45px;
    background-color: #fff;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border: 1px solid #fff;
    border-bottom: 0;
    text-align: center;
}
#start_block img{
    width: 20px;
    margin: 0;
    position: relative;
    top: 5px;
}
#start_block p{
    margin: 0;
    font-size: 12px;
    position: relative;
    top: 5px;
}
div#content {
    width: 100%;
    height: 100%;
}
div#svg_Content {
    position: relative;
    top: 200px;
}
/* INTRO */
article.article {
    width: 80%;
    float: right;
    align-items: center;
}
div.article_text {
    width: 50%;
    float: left;
    margin-top: 50px;
}
div#icon_content {
    width: 50%;
    float: right;
    position: relative;
    top: 50px;
}
div#gold_cont,
div#pyrite_cont {
    position: relative;
    left: 50px;
    width:0;
}
.st0{
    fill:none;
    stroke:#000000;
    stroke-width:4;
    stroke-miterlimit:1;}

div#pyrite_cont {
    left: 250px;
}
img.check_icon {
    width: 60px;
    position: relative;
    left: 2px;
}
#cryptostory{
    align-items: normal;
    margin-top: 50px;
}
div#timeline{
    width: 90%;
    margin: auto;
    margin-top: 50px;
}
#timeline_par {
    width: 100%;
    padding-left: 5%;
    border-left: 3px solid #333;
    padding-bottom: 200px;
}
img.point_icon {
    width: 70px;
    background: #fff;
}
div.par {
    position: relative;
    right: 87px;
    padding-top: 40px;
    width: 60%;
}
.time_episode {
    float: right;
    width: 97%;
    background: rgb(238,238,238,0.3);
    line-height: 32px;
    border-radius: 20px;
    position: relative;
    left: 20%;
    bottom: 70px;
}
p.title_explain {
    width: 50%;
}
div#content_explain {
    width: 80%;
    position: relative;
    left: 20%;
}
.time_episode h5{
    margin: 0;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 900;
    background: #eee;
    border: 3px solid #eee;
    box-sizing: border-box;
    padding: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.time_episode p{
    margin: 0;
    padding: 10px 20px 10px 20px;
    font-size: 0.9em;
    line-height: 25px;
}

/* DIVISION */
div.division {
    display: inline-block;
    width: 100%;
    height: 250px;
    text-align: center;
    background: url(../img/DivisionBack.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    z-index: 10;
    position: relative;
}

h5.num_block {
    font-size: 1em;
    color: #f6f6f6;
}
hr.line_open.line_left,
hr.line_open.line_right  {
    width: 50%;
    position: relative;
    top: 20px;
}
hr.line_open.line_left{
    right: 100px;
}
hr.line_open.line_right {
    left: 100px;
}
h2.block_title {
    position: relative;
    font-size: 2.5em;
    color: #F6F6F6;
    opacity: 1;
    -webkit-transition: .9s;
    transition: .9s;
    padding: 50px;
}
div#pc_div {
    display: table;
	width:100%;
    height:100%;
    z-index: 9;
    position: relative;
}

/* SIDEBAR */
div#sidebar {
    position: fixed;
    top: 0;
    width: 20%;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 9;
}
div#tree {
    width: 50px;
}
p.cap {
    position: absolute;
    right: 65%;
    background: rgb(238,238,238);
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 0.8em;
    font-family: "Playfair Display", sans-serif;
    font-size: 100;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    -webkit-transition: .4s;
    transition: .4s;
}
#hover_1:hover ~ #cap1,
#hover_2:hover ~ #cap2,
#hover_3:hover ~ #cap3,
#hover_4:hover ~ #cap4,
#hover_5:hover ~ #cap5,
#hover_6:hover ~ #cap6,
#hover_7:hover ~ #cap7,
#hover_8:hover ~ #cap8,
#hover_9:hover ~ #cap9{
    opacity: 1;
}
#cap1:hover,
#cap2:hover,
#cap3:hover,
#cap4:hover,
#cap5:hover,
#cap6:hover,
#cap7:hover,
#cap8:hover,
#cap9:hover{
    opacity: 1;
}
#block1{
    top: 5px;
    position: relative;
}
img.connector {
    width: 50px;
    height: 50px;
}
img.block,img.connector  {
    position: relative;
}
/* animation */

div#content_animation {
    background: #fff;
    width: 1300px;
    height: 600px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-top: 50px;
    margin-bottom: 50px;
    z-index: 9;
    position: relative;
}
.command {
    width: 10%;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
    float: left;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    background: #f6f6f6;
    cursor: pointer;
    z-index: 10;
    position: relative;
}
div#animation {
    width: 80%;
    height: 100%;
    float: left;
    z-index: -1;
    overflow: hidden;
}
img.arrow {
    width: 30px;
}
.content_ledge {
    background: #fff;
    padding: 50px 0px;
    -webkit-box-shadow: 0px 0px 46px -13px rgba(51,51,51,1);
    -moz-box-shadow: 0px 0px 46px -13px rgba(51,51,51,1);
    box-shadow: 0px 0px 46px -13px rgba(51,51,51,1)
}

.table_title{
    width: 108%;
    background: #333;
    color: #fff;
    text-align: center;
    font-family: "Playfair Display", sans-serif;
    font-weight: 100;
    position: relative;
    right: 28px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6em;
    margin: 0;
    margin-bottom: 50px;
    z-index: 1
}
.border_trick{
    width: 30px;
    height: 0;
    border-top: 35px solid black;
    border-bottom: 35px solid black;
    position: absolute;
    top: 26%;
    z-index: 0;

}
div#border_trik_l {
    border-left: 35px solid transparent;
    left: 100px;

}
div#border_trik_r {
    border-right: 35px solid transparent;
    right: 100px;
}
table#registry {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
div#motion {
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
div#motion_map{
    background-position: center;
    background-repeat:no-repeat;
    background-size: contain; 
}
h3#ledger_main {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.6em;
    text-align: center;
}
table#registry {
    background: #f6f6f6;
}
#registry th, #registry td {
    padding: 10px 20px;
}
th.col {
    text-transform: uppercase;
    font-size: 0.9em;
}
td.dark_col {
    background: #eee;
}
td.light_col {
    background: #fff;
}
td.signature {
    font-family: "Signature", sans-serif;
    font-size: 1.3em;
}
#motion_content{
    height: 100%;
}
#motion_ledge{
    justify-content: center;
    align-items: center;
    height: 100%;
    display: flex;
    position: relative;
}
#flex_pc{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#p_c{
    width: 100%;
    height: 100%;
    position: relative;
}
#map_container{
    height: 100%;
    width: 100%;
    position: relative;
}
div#motion_map{
    height: 100%;
    width: 100%;
    position: relative;
}
img#world_map {
    width: 100%;
}
.net_node {
    position: absolute;
    top:auto;
    border-radius: 100%;
    z-index: 2;
}
svg.connect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

svg .miner_in {
    stroke-dasharray: 10;
    stroke-width: 5; 
    stroke-linecap: round;
    animation: dash 30s infinite linear;
    -webkit-animation: dash 30s infinite linear;
  }
  @keyframes dash {
    to {
      stroke-dashoffset: 600;
    }
  }
  @-webkit-keyframes dash {
    to {
      stroke-dashoffset: 600;
    }
}
svg .path_in {
    stroke-dasharray: 1300;
    animation: dash 4s linear;
    -webkit-animation: dash 4s linear;
  }
  @keyframes dash {
    from {
      stroke-dashoffset: 1300;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @-webkit-keyframes dash {
    from {
      stroke-dashoffset: 1300;
    }
    to {
      stroke-dashoffset: 0;
    }
  }

#p_6{
    display: flex
}
h3.sm_name {
    width: 100%;
    text-align: center;
    font-size: 0.6em;
}
div#overlay_start {
    width: 1300px;
    height: 635px;
    position: absolute;
    background-image: linear-gradient(to right, #91AA9D, #3E606F,#3E606F, #193441);
    z-index: 9;
    left: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
h2#title_overlay {
    width: 30%;
    position: absolute;
    top: 50px;
    color: #fff;
    text-align: center;
    font-size: 3em;
    border-bottom: 8px double #fff;
    border-top: 8px double #fff;
}
p#iae {
    position: absolute;
    top: 90%;
    color: #fff;
    width: 100%;
    text-align: center;
    /* border: 1px solid #fefefe; */
    background: rgb(204,204,204, 0.4);
    padding: 11px 0px;
    font-size: 0.8em;
}
img#play {
    width: 100px;
    background: rgb(204,204,204, 0.3);
    border-radius: 7px;
    -webkit-transition: .4s;
    transition: .4s;
    cursor: pointer;
}
img#play:hover{
    background: rgb(77, 170, 171, 0.3);
}
div#sender_node {
    height: 90%;
    width: 45%;
    position: relative;
    bottom: 100%;
    right: 24%;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    -webkit-box-shadow: 0px 0px 46px -13px rgba(51,51,51,1);
    -moz-box-shadow: 0px 0px 46px -13px rgba(51,51,51,1);
    box-shadow: 0px 0px 46px -13px rgba(51,51,51,1)
}
.pap_title{
    font-family: "Playfair Display", sans-serif;
    width: 100%;
    text-align: center;
    margin: 20px 0px;
    font-weight: 800;
    font-size: 1.6em;
    text-transform: capitalize
}
.arrow_left {
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    position: absolute;
    bottom: -21px;
    right: 95%;
    transform: rotate(315deg);
    border-left: 16px solid #000;
}
div#send_trx {
    margin-top: 100px;
}
.wrapper{
    width: 50%;
    height: 80px;
    position: relative;
}
.wrapper.wrapper_left {
    background-image: linear-gradient(to right, #91AA9D, #3E606F,#3E606F);
    background-size: cover;
    background-repeat: no-repeat;
}
.wrapper.wrapper_right {
    /* background: url(../img/s_gradient3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1; */
    background-image: linear-gradient(to right, #3E606F,#3E606F, #193441);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    float: right;
    bottom: 80px;
}
.cut {
    position: relative;
    top: 25%;
    left: 90%;
    width: 60px;
    height: 60px;
    transform-origin: center top;
    transform: rotate(45deg);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}

.arrow_right {
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    position: absolute;
    bottom: -21px;
    right: 9px;
    transform: rotate(585deg);
    border-left: 16px solid #000;
}

table#send_add {
    width: 50%;
    background: #f6f6f6;
    font-size: 0.7em;
    margin-left: auto;
    margin-right: auto;
}
div#message {
    overflow: hidden;
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 1px solid #ccc;
}
div#add_content {
    width: 90%;
    float: right;
}
img#sed_mex {
    width: 10%;
    float: left;
}
img#plane_send {
    transform: rotate(-45deg);
    width: 60px;
}
#send_ledge th.col, #send_add th.col {
    color: #333;
    width: 10%;
}
div#papyrus {
    width: 110%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 20px;
    right: 5%;
    margin-top: 40px;
    background: #444;
    color: #f6f6f6; 
}
.send_container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
}
h5.send_info_title {
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 1.4em;
    font-family: "Montserrat",sans-serif;
    font-weight: 100;
    letter-spacing: 2px;
}
.send_info_title.miner_title {
    position: relative;
    text-align: right;
    right: 40px;
}
h5.send_info_title.red_title {
    text-align: left;
    position: relative;
    left: 30px;
}
#flex_miner{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#m_c{
    width: 100%;
    height: 100%;
    position: relative;
}
.miner_node {
    position: absolute;
    top:auto;
    border-radius: 100%;
    z-index: 2;
}
#p_miner{
    width: 30px;
    height: 30px;
    margin-top: 115px;
    margin-left: 440px;
    background : #D2644F;
}
/* step6 */
div#flex_mining {
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 200%;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: left;
}
div#m_v {
    width: 90%;
    height: 90%;
    margin-left: 5%;
    text-align: center;
    background: #fff;
    -webkit-box-shadow: 0px 0px 46px -13px rgba(51,51,51,1);
    -moz-box-shadow: 0px 0px 46px -13px rgba(51,51,51,1);
    box-shadow: 0px 0px 46px -13px rgba(51,51,51,1);
}
div#slot_header {
    text-align: center;
    color: #fff;
    background-image: linear-gradient(to right, #91AA9D, #3E606F,#3E606F, #193441);
    padding: 2px;
    margin-top: 10px;
}
div#slot_header h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.6em;
    font-weight: 900;
    letter-spacing: 8px;
    margin: 15px 0;
}
#slot_header p {
    font-family: "Crypt", sans-serif;
    letter-spacing: 2px;
    font-size: 1.5em;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #f6f6f6;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(204, 204, 204,0.4);
}
div#switch_container {
    width: 100%;
}
label.switch {
    width: 10%;
}
div#slot {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
div#validation {
    width: 100%;
    height: 100%;
}
div > :global(.slot) {
    font-size: 5em;
    height: 3em;
  }
.slot-item {
    height: 100%;
    width: 100%;
    display: flex;  
}
.slot-item div {
    border-radius: 3px;
    width: 103%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  button {
    color: #000;
    background: #fff;
    border: solid 1px;
    border-radius: 3px;
  }
  label {
    display: block;
    margin: 1em 0;
  }
.slot{
    width: 40px;
    height: 70px;
    border: 10px solid #333;
    border-radius: 10px;
    margin: 10px;
    float: left;
    font-family: "Crypt", sans-serif;
    font-size: 2em;
    color: #999;
}
#slot_papyrus{
    width: 110%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 20px;
    right: 5%;
    margin-top: 40px;
    background: #444;
    color: #f6f6f6;
}
.arrow_s_right{
    width: 0;
    height: 0;
    border-top: 27px solid transparent;
    border-bottom: 27px solid transparent;
    position: absolute;
    bottom: -36px;
    right: 2%;
    transform: rotate(585deg);
    border-left: 27px solid #000;
}
.arrow_s_left{
    width: 0;
    height: 0;
    border-top: 27px solid transparent;
    border-bottom: 27px solid transparent;
    position: absolute;
    bottom: -36px;
    right: 95%;
    transform: rotate(315deg);
    border-left: 27px solid #000;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 5px;
    bottom: 7px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #333;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
  input:focus + .slider {
    box-shadow: 0 0 1px #333;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
  
.slider.round:before {
    border-radius: 50%;
}
div#know_value {
    overflow: hidden;
}
div#function_val {
    width: 75%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 78%;
    font-size: 1.4em;
}
.plus{
    margin: 0px 35px;
    font-family: "Crypt", sans-serif;
    font-size: 1.5em;
    font-weight: bolder;
}
.line_v{
    font-family: "Crypt", sans-serif;
    font-size: 1.5em;
    font-weight: bolder;
    letter-spacing: 6px;
    float:left;
}
.mini{
    font-size: 0.5em;
    letter-spacing: 2px;
}
img#block_validation {
    width: 40px;
}
div#flex_mn {
    width: 100%;
    height: 100%;
    position: relative;
    bottom:300%;
}
div#m_n {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
}
#bt_content{
    width: 30px;
    position: absolute;
    right: 13%;
    top: 57%;
}
img#tc_1, #tc_2 {
    width: 3px;
}
img#tc_1{
    position: relative;
    bottom: 5px;
}
img#tb_2 {
    bottom: 10px;
    position: relative;
}
img#tc_2 {
    position: relative;
    bottom: 15px;
}
img#tb_3 {
    bottom: 20px;
    position: relative;
}
img#check_icon {
    width: 15px;
    position: relative;
    top: 393px;
    left: 940px;
}
/* step 8 */
#content_final_step{
    position: relative;
    bottom: 390%;
    height: 100%;
    width: 100%;
    left: 5%;
}
div#final_ledge {
    position: relative;
    bottom: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    right: 200px;
}
div#final_ledge_registry {
    width: 40%;
}
#final_ledge_registry h3.table_title {
    width: 112%;
    height: 60px;
}
#final_ledge_registry div#border_trik_l {
    left: 247px;
    top: 195px;
}
#final_ledge_registry div#border_trik_r {
    left: 728px;
    top: 195px;
}
table#final_registry {
    font-size: 0.8em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background: #f6f6f6;
}
div#final_add_content {
    position: absolute;
    bottom: 15%;
    width: 48%;
    font-size: 0.8em;
    margin-left: auto;
    margin-right: auto;
    right: 45%;
    background: #fff;
    padding: 30px;
    border: 9px solid#328C49;
    box-sizing: border-box;
}
div#content_final_add {
    background: #f6f6f6;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.bccf{
    display: inline-grid;
}
div#final_blokchain {
    position: absolute;
    top: 0%;
    width: 50%;
    left: 75%;
    float: right;
}
img.bcf_block {
    width: 70px;
}
.bccf{
    position: relative;
}
img.ccf_block {
    width: 6px;
    height: 45px;
    display: block;
    position: relative;
    left: 31px;
    bottom: 20px;
    background: #000;
}
img#bcf_2 {
    bottom: 30px;
}
img#ccf_2 {
    bottom: 50px;
}
img#bcf_3 {
    bottom: 60px;
}
img#ccf_3 {
    bottom: 80px;
}
img#bcf_4 {
    bottom: 90px;
    z-index: 2;
}
img#ccf_4 {
    bottom: 110px;
    z-index: 1;
}
img#bcf_5 {
    bottom: 120px;
    z-index: 2;
}
hr#hr_tell {
    position: absolute;
    width: 210px;
    bottom: 25%;
    right: 100%;
    height: 8px;
    background: #328C49;
    border: none;
}
img#new {
    position: absolute;
    top: 64.2%;
    width: 50px;
    right: 223%;
}
img#plus_ledge {
    position: absolute;
    width: 20px;
    bottom: 37.8%;
    right: 186%;
    padding: 7px;
}
/* *************** */
/* *************** */
/* try */
/* *************** */
/* *************** */

.try_Text h1,
.try_Text h2,
.try_Text h3{
    text-transform: uppercase;
}
.try_Text h1{
    font-size: 1.8em;
}
.try_Text h2{
    font-size: 1.4em;
    text-transform: none;
}
.try_Text h3{
    font-size: 1.2em;
    text-transform: none;
}
div#notify_content {
    position: absolute;
    height: auto;
    width: 60%;
    right: 7%;
    z-index: 99;
}
img#notify {
    width: 50px;
    position: absolute;
    right: 0;
    margin-top: 30px;
    cursor: pointer;
}
#content_explain_noti{
    position: absolute;
    width: 70%;
    top: 30px;
    left: 17%;
    padding: 10px 20px;
    background:#FFF5CC;
    z-index: 10;
    border-radius: 10px;
    border: 3px solid #F2E8B6;
}
.arrow_right_noti{
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    position: absolute;
    top: 15px;
    left: 100%;
    transform: rotate(360deg);
    border-left: 13px solid #F2E8B6;
}
p.tooltip_explain {
    line-height: 30px;
}
div.pro_contro {
    height: 100%;
    width: 50%;
    opacity: 1;
    -webkit-transition: all 0.9s;
    -moz-transition: all 0.9s;
    transition: all 0.9s;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;

}
#pc_div:hover .pro_contro{
    width:0%;
    opacity: 0;
}
#pc_div:hover .pro_contro:hover {
    width:100%;
    opacity: 1;
}
#pro_task,
#contro_task,
#concl{
    display: none;
}
div#pro{
    background-image: linear-gradient(to right, #738668,#738668, #81A68A,#D8B982)
}
div#contro{
    background-image: linear-gradient(to right, #D8B982, #D9946C,#A6524B,#A6524B)
}
/* relation html */
div#root_relation {
    width: 100%;
    height: 100%;
}
div#rel_open {
    background: url(../img/behind.jpg);
    height: 100%;
    background-image: url(../img/behind.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 10;
    position: relative;
}
h1#rel_title {
    font-size: 4em;
    text-transform: uppercase;
    background: rgb(258,258,258,0.4);
    padding: 50px;
}
div.sect {
    width: 80%;
    margin: auto;
    line-height: 30px;
    
}
h2.rel_main_title {
    font-size: 2em;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #333;
}
h3.rel_sub_title {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3em;
}
p.rel_par {
    margin-left: 5%;
}
ul.question {
    font-size: 1.8em;
    list-style: none;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-bottom: 30px;
    padding-left: 0;
    border-bottom: 1px solid #333;
    border-left: 1px solid #333;
    margin-bottom:80px 
}
li.q {
    line-height: 40px;
}
p.rel_par.rel_par_center {
    text-align: center;
    font-size: 1.2em;
    border-top: 1px solid #333;
    border-right: 1px solid #333;
    padding-top: 30px;
    margin-top:50px 
}
p.rel_par.fist_question {
    width: 100%;
    text-align: center;
    padding-top: 30px;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
    margin: auto;
    margin-top: 80px;
}
p.rel_par.the_question {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;
    padding-bottom: 30px;
    margin: auto;
    margin-bottom: 80px;
}
p.rel_par.par_question {
    font-size: 1.2em;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 30px;
    font-style: italic;
    border-left: 5px solid #333;
    padding-left:20px;
    width:90%;
}
.team {
    overflow: hidden;
    padding: 0 10%;
}
ul.obb, ul.prob {
    margin: auto;
    width: 100%;
    padding: 0;
}
.team ul{
    list-style: none;
    overflow: hidden;
    display: none;
}
.identikit {
    width: 80%;
    margin: auto;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    border-radius: 10px;
}
div#GGAG {
    background-image: url(../img/journalism.png);
}
div#AN {
    background-image: url(../img/data.png);
}
div#MA {
    background-image: url(../img/graphic.png);
}
div#GC {
    background-image: url(../img/designer.png);
}
.id_name{
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    color: #f6f6f6;
    text-transform: capitalize;
    letter-spacing: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 0;
    margin-left: 0;
}
.margin_float{
    margin-bottom: 20px;
}
.margin_float p {
    width: 20%;
    margin: auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f6f6f6;
    border-radius: 8px;
    text-transform: uppercase;
    border-bottom: 5px solid #ccc;
    cursor: pointer;
    font-size: 0.8em;
}
h4.team_comp {
    font-size: 1.6em;
    padding: 20px;
    background: rgb(258,258,258,0.2);
}
p.role {
    border: none;
    width: 100%;
    height: 20px;
    padding: 4px 0px;
    margin-bottom: 20px;
    background: #f6f6f6;
    border-radius: 0;
    color: #333;
    font-weight: 900;
    letter-spacing: 1px;
}
.obb li,
.prob li {
    font-size: 0.8em;
    text-align: center;
    margin: 10px 0px;
}
span.compo_ex {
    font-size: 0.6em;
    color: #333;
}
span.compo_ex::before{
    content: "("
}
span.compo_ex::after{
    content: ")"
}
div#react_stucture ul li::before {
    content: url(../img/folder.png);
    position: relative;
    top: 8px;
    right: 4px;
}