/* index 
0 - basic style instruction
1 - open
*/

/* 0 - basic style instruction */
html,
body,
#main_root,
#root{
    height: 100%;
    width: 100%;
    color: #333;
    font-family: "Playfair Display", serif;
}
.article_title{
    font-size: 2em;
    font-weight: 700;
}
.par{
    font-size: 1em;
    line-height: 22px;
}
/* 1 - open */
/* div#measure {
    display: none;
} */
#open{
    height: 100%;
    background-image: url("../img/homeback.jpg");
    background-repeat: no-repeat;
    background-size:cover; 
    background-position: center top;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 1;
}
div#open_content {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 100px;
}
h1#main_title {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    width: 40%;
    padding: 20px;
    margin: auto;
    background: rgb(246, 246, 246,0.5);
    font-size: 4em;
    text-transform: uppercase;
}
#open_content .subtitle{
    font-family: "Playfair Display", sans-serif;
    font-weight: 400;
    font-size: 2em;
    color: #f3f3f3;
} 
img#logo{
    width: 18%;
}
#start_block {
    position: absolute;
    bottom: 0;
    width: 90px;
    height: 45px;
    background-color: #fff;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border: 1px solid #fff;
    border-bottom: 0;
    text-align: center;
}
#start_block img{
    width: 20px;
    margin: 0;
    position: relative;
    top: 5px;
}
#start_block p{
    margin: 0;
    font-size: 12px;
    position: relative;
    top: 5px;
}
div#content {
    width: 100%;
    height: 100%;
}
/* INTRO */
article.article {
    width: 80%;
    float: right;
    display: flex;
    align-items: center;
}
div.article_text {
    width: 50%;
    float: left;
    margin-top: 50px;
}
div#icon_content {
    width: 50%;
    float: right;
    position: relative;
    top: 50px;
}
div#gold_cont,
div#pyrite_cont {
    position: relative;
    left: 50px;
    width:0;
}
.st0{
    fill:none;
    stroke:#000000;
    stroke-width:4;
    stroke-miterlimit:1;}

div#pyrite_cont {
    left: 250px;
}
img.check_icon {
    width: 60px;
    position: relative;
    left: 2px;
}
div#time_line {
width: 50%;
    text-align: center;
    position: relative;
    height: auto;
    overflow: hidden;

}
#cryptostory{
    align-items: normal;
}
hr.line_of_time {
    border: none;
    border-left: 5px solid #333;
    border-radius: 100px;
    width: 0px;
    position: absolute;
    left: 50%;
    height: 100%;
}
#time_line .react-reveal {
    position: relative;
    top: 100px;
}
p.check_line {
    width: 50%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
span.year {
    position: relative;
    left: 60px;
    top: 55px;
}
span.value {
    position: relative;
    left: 180px;
    top: 55px;
}

article#BTC_market {
    height: 1000px;
}
/* DIVISION */
div.division {
    display: inline-block;
    width: 100%;
    height: 250px;
    text-align: center;
    background: url(../img/DivisionBack.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
h5.num_block {
    font-size: 1em;
    color: #f6f6f6;
}
hr.line_open.line_left,
hr.line_open.line_right  {
    width: 50%;
    position: relative;
    top: 20px;
}
hr.line_open.line_left{
    right: 100px;
}
hr.line_open.line_right {
    left: 100px;
}
h2.block_title {
    position: relative;
    top: 20px;
    font-size: 2.5em;
    color: #F6F6F6;
}
/* SIDEBAR */
div#sidebar {
    position: fixed;
    top: 0;
    width: 20%;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: -1;
}
div#tree {
    width: 50px;
}
#block1{
    top: 5px;
    position: relative;
}
img.connector {
    width: 50px;
    height: 50px;
}
img.block,img.connector  {
    position: relative;
}
/* animation */

div#content_animation {
    background: #fff;
    width: 1300px;
    height: 600px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-top: 50px;
    margin-bottom: 50px;
}
.command {
    width: 10%;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
    float: left;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    background: #f6f6f6;
    cursor: pointer;
}
div#animation {
    width: 80%;
    height: 100%;
    float: left;
    z-index: -1;
    overflow: hidden;
}
img.arrow {
    width: 30px;
}
.table_title{
    width: 100%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
}
table#registry {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
div#motion {
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
div#motion_map{
    background-position: center;
    background-repeat:no-repeat;
    background-size: contain; 
}
h3#ledger_main {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.6em;
    text-align: center;
}
table#registry {
    background: #f6f6f6;
}
#registry th, #registry td {
    padding: 10px 20px;
}
th.col {
    text-transform: uppercase;
    font-size: 0.9em;
}
td.dark_col {
    background: #eee;
}
td.light_col {
    background: #fff;
}
td.signature {
    font-family: "Signature", sans-serif;
    font-size: 1.3em;
}
#motion_content{
    height: 100%;
}
#motion_ledge{
    justify-content: center;
    align-items: center;
    height: 100%;
    display: flex;
    position: relative;
}
#flex_pc{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#p_c{
    width: 100%;
    height: 100%;
    position: relative;
}
#map_container{
    height: 100%;
    width: 100%;
    position: relative;
}
div#motion_map{
    height: 100%;
    width: 100%;
    position: relative;
}
img#world_map {
    width: 100%;
}
.net_node {
    position: absolute;
    top:auto;
    border-radius: 100%;
    z-index: 2;
}
svg.connect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

svg .miner_in {
    stroke-dasharray: 10;
    stroke-width: 5; 
    stroke-linecap: round;
    animation: dash 10s infinite linear;
    -webkit-animation: dash 10s infinite linear;
  }
  @keyframes dash {
    to {
      stroke-dashoffset: 600;
    }
  }
  @-webkit-keyframes dash {
    to {
      stroke-dashoffset: 600;
    }
}
svg .path_in {
    stroke-dasharray: 1300;
    animation: dash 4s linear;
    -webkit-animation: dash 4s linear;
  }
  @keyframes dash {
    from {
      stroke-dashoffset: 1300;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  @-webkit-keyframes dash {
    from {
      stroke-dashoffset: 1300;
    }
    to {
      stroke-dashoffset: 0;
    }
  }

div#sender_node {
    height: 100%;
    width: 45%;
    position: relative;
    bottom: 100%;
    right: 27%;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    box-sizing: border-box;
    border-radius: 20px;
    border: 10px solid #D2644F;
}
#send_content h1{
    font-family: "Montserrat", sans-serif;
    width: 100%;
    text-align: center;
    margin: 20px 0px;
    font-weight: 800;
    font-size: 1.6em;
}
.arrow_left {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    position: absolute;
    bottom: 80%;
    left: 100%;
    border-left: 30px solid #D2644F;
  }

table#send_ledge, table#send_add {
    width: 50%;
    background: #f6f6f6;
    font-size: 0.7em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius:5px;
}
table#send_ledge{
    border: 3px solid #333;
}
table#send_add{
    border: 3px solid #D2644F;
}
#send_ledge th.col, #send_add th.col {
    color: #333;
    width: 10%;
}
.red{
    color: #D2644F;
}
.blue{
    color: rgb(52, 152, 219);
}
.v_line{
    border: none;
    border-top: 5px dotted #D2644F;
    color: #fff;
    background-color: transparent;
    height: 1px;
    width: 15%;
    position: relative;
    right: 20%;
    top: 30px;
    transform: rotate(-90deg);
}
.h_line{
    border: none;
    border-top: 5px dotted #D2644F;
    color: #fff;
    background-color: transparent;
    height: 1px;
    width: 15%;
    position: relative;
    top: 30px;
    margin:20px;
}
div#send_icon {
    margin-top: 80px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
img#plane {
    width: 80px;
}
img#mex {
    width: 70px;
}
.col3{
    width: 25%;
    float: left;
    position: relative;
    left: 25px;
}
#flex_miner{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#m_c{
    width: 100%;
    height: 100%;
    position: relative;
    bottom:200%
}
.miner_node {
    position: absolute;
    top:auto;
    border-radius: 100%;
    z-index: 2;
}
#p_miner{
    width: 30px;
    height: 30px;
    margin-top: 115px;
    margin-left: 440px;
    background : #D2644F;
}
